Repository clustermod/HCMF3-Loadouts, pull requests merged in 2024-03, with the labels that each got.

#42 Loadouts - Add Chernorussian Green Sea Bataillon in Summer
  loadouts/fictional/loadouts/README.md
  loadouts/fictional/loadouts/crn_2020_specialized-motorized-infantry_summer.sqf
  loadouts/fictional/loadouts/crn_2024_green-sea-bataillon_summer_v6.sqf
  loadouts/fictional/logistics/README.md
  loadouts/fictional/logistics/crn_2024_Green-Sea-Bataillon_logistics_summer_v6.sqf
Labels: kind/loadout request, status/review pending

#45 Loadouts - Add 1993 Delta Force Loadout in DCU
  extra/Modified_CMF_Loadout_Template.sqf
  loadouts/fictional/loadouts/README.md
  loadouts/norway/loadouts/README.md
  loadouts/united_states/loadouts/README.md
  loadouts/united_states/loadouts/usa_1993_cag_dcu_v6.sqf
  loadouts/united_states/loadouts/usa_2005_delta_3cd_v6.sqf
Labels: kind/enhancement, status/review pending, status/pending

#46 Loadouts - Add Lithuanian category and loadout
  loadouts/README.md
  loadouts/lithuania/README.md
  loadouts/lithuania/ai/README.md
  loadouts/lithuania/garage/README.md
  loadouts/lithuania/loadouts/README.md
  loadouts/lithuania/loadouts/ltu_2004_army_m05-woodland.sqf
  loadouts/lithuania/logistics/README.md
Labels: kind/loadout request

#47 Loadouts - Add Japan category and loadout
  loadouts/README.md
  loadouts/japan/README.md
  loadouts/japan/ai/README.md
  loadouts/japan/garage/README.md
  loadouts/japan/loadouts/README.md
  loadouts/japan/loadouts/jpn_90s-10s_army_jietai.sqf
  loadouts/japan/logistics/README.md
Labels: kind/loadout request
